.header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 700;
    padding: 10px 20px;

}
.header a:hover {
    color: rgb(255, 92, 141);
}